body {
    @extend #body;
}

html {
    @extend #html;
    @extend #scrollTop;
}


.navbar-1 {
    background-color: $color-blue-light;
    border-bottom: 1px solid $color-blue; //////////
    padding: 4px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        white-space: nowrap;

        .logo {
            a {
                img {
                    height: 50px;
                }
            }
        }

        .search-box {
            display: flex;

            padding: 7px;
            border-radius: 20px;
            background-color: $color-white;

            input {
                background: none;
                width: 350px;
                border: none;
                outline: none;
                margin-left: 13px;
            }

            button {
                background: none;
                border: none;

            }
        }

        .fav {
            a {
                color: $color-grey-light;

                i {
                    color: $color-grey-light;
                }

                &:hover {
                    i {
                        color: $color-red;
                    }

                    color: $color-white;
                }
            }
        }

        .add {
            a {
                color: $color-grey-light;

                span {
                    &:hover {
                        i {
                            color: $color-green;
                        }

                        color: $color-white;
                    }
                }
            }
        }

        .account {
            a {
                color: $color-grey-light;

                i {
                    color: $color-grey-light;
                }

                &:hover {
                    i {
                        color: $color-purple;
                    }

                    color: $color-white;
                }
            }
        }

        .buy-vip {
            a {
                color: $color-grey-light;

                &:hover {
                    .VIP {
                        color: $color-yellow-2;
                    }

                    color: $color-white;
                }
            }
        }
    }
}

.navbar-2 {
    background-color: $color-blue-light;

    .container {
        text-align: center;

        ul {
            padding: 13px;

            li {
                a {
                    white-space: nowrap;
                    color: $color-grey-light;
                    padding: 15px;
                    padding-left: 30px;
                    padding-right: 30px;
                    @extend #transition;

                    &:hover {
                        color: $color-white;
                        background-color: $color-blue;
                    }
                }
            }
        }
    }
}

#premium {
    margin-top: 2%;

    .container {
        .cards {
            margin-top: 2%;
            text-align: center;

            .card {
                border: none;
                margin-left: 2%;
                width: 15rem;
                margin-bottom: 2%;
                display: inline-block;

                .card-body {
                    @extend #transition;
                    background-color: $color-blue-light;
                    border-radius: 5px;
                    box-shadow: 0 0 30px $color-black-light;
                    padding: 0;

                    .logo {
                        position: relative;
                        clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0 100%);
                        @extend #transition;

                        img {
                            height: 180px;
                            width: 100%;
                            display: block;
                            border-radius: 5px 5px 0px 0px;
                        }

                        &:hover {
                            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
                        }
                    }

                    .details {
                        padding: 20px 8px;
                        text-align: start;
                        color: $color-white;

                        h3 {
                            font-size: 16px;
                            font-weight: 600;
                            margin: 10px 0 15px 0;
                        }
                        .VIP{
                            margin-left: 24%;
                            background-color: $color-yellow;
                            padding: 7px;
                            border-radius: 30px;
                        }
                    }


                    &:hover {
                        background-color: $color-blue;
                    }
                }
            }
        }
    }
}