body {
    @extend #body;
}

html {
    @extend #html;
    @extend #scrollTop;
}

/// HEADER PART START
.navbar-1 {
    background-color: $color-blue-light;
    border-bottom: 1px solid $color-blue; //////////
    padding: 4px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        white-space: nowrap;

        .logo {
            a {
                img {
                    height: 50px;
                }
            }
        }

        .search-box {

        }

        .fav {
            a {
                color: $color-grey-light;

                i {
                    color: $color-grey-light;
                }

                &:hover {
                    i {
                        color: $color-red;
                    }

                    color: $color-white;
                }
            }
        }

        .add {
            a {
                color: $color-grey-light;

                span {
                    &:hover {
                        i {
                            color: $color-green;
                        }

                        color: $color-white;
                    }
                }
            }
        }

        .account {
            a {
                color: $color-grey-light;

                i {
                    color: $color-grey-light;
                }

                &:hover {
                    i {
                        color: $color-purple;
                    }

                    color: $color-white;
                }
            }
        }

        .buy-vip {
            a {
                color: $color-grey-light;

                &:hover {
                    .VIP {
                        color: $color-yellow-2;
                    }

                    color: $color-white;
                }
            }
        }
    }
}

.navbar-2 {
    background-color: $color-blue-light;

    .container {
        text-align: center;

        ul {
            padding: 13px;

            li {
                a {
                    white-space: nowrap;
                    color: $color-grey-light;
                    padding: 15px;
                    padding-left: 30px;
                    padding-right: 30px;
                    @extend #transition;

                    &:hover {
                        color: $color-white;
                        background-color: $color-blue;
                    }
                }
            }
        }
    }
}

/// HEADER PART END

/// MAIN PART START
#premium {
    margin-top: 2%;

    .container {
        @extend #body-header;
        @extend #cards;
    }
}

#other {
    margin-top: 2%;

    .container {
        @extend #body-header;
        @extend #cards;
    }
}

/// MAIN PART END

/// FOOTER PART START
#letter {
    margin-top: 8%;

    .letter-box {
        width: 100%;
        height: 250px;
        background-color: $color-blue-light;
        position: relative;

        .letter-text-box {
            position: absolute;
            z-index: 100;
            left: 10%;
            top: 35%;
            color: $color-white;

            .input-box {
                position: relative;
                margin-top: 6%;

                input {
                    outline: none;
                    cursor: pointer;
                    width: 400px;
                    height: 62px;
                    border-radius: 4px;
                    border: none;
                    padding-left: 50px;
                }

                i {
                    position: absolute;
                    top: 31%;
                    font-size: 25px;
                    left: 2%;
                    color: $color-gray;
                }

                .button {
                    color: $color-gray;
                    background-color: $color-blue;
                    height: 62px;
                    border: none;
                    border-radius: 4px;
                    @extend #transition;
                    font-size: 15px;
                    padding: 20px;
                    &:hover {
                        color: $color-white;
                    }
                }
            }
        }

        img {
            position: absolute;
            right: 11%;
            top: 2%;
            height: 245px;
            bottom: 0%;
            z-index: 1;
        }
    }
}

/// FOOTER PART END