#html {
    ::-webkit-scrollbar {
        width: 1vw;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $color-first;
    }

    ::-webkit-scrollbar-thumb:hover {
        color: $color-third;
        background-color: $color-second;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px $color-second;
    }
}

#body {
    height: 100vh;
    background-color: $color-third;

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
        display: inline;
    }

    scroll-behavior: smooth;
}

#transition {
    transition: all 0.3s;
}

#scrollTop {

    .scrollTop {
        @extend #transition;
        z-index: 1;
        position: fixed;
        bottom: 30px;
        right: 30px;
        padding: 3px 5px;
        color: $color-first;
        border-radius: 7px;
        width: 50px;
        text-align: center;
        cursor: pointer;
        background-color: $color-first;
        color: $color-second;

        &:hover {
            background-color: $color-second;
            color: $color-third;
        }

        i {
            margin: 2px;
        }
    }
}

