$color-white :white;
$color-blue-light :#3294d6;
$color-blue:#0373e2;
$color-grey-light : rgb(231, 231, 231);

$color-red:#ff0000;
$color-black: #000000;  
$color-black-light:#0000003d;  
$color-green:#7aff00;
$color-purple: #800080;
$color-yellow: #dfab03;
$color-yellow-2: #ffff00;
