$color-first :white;
$color-second :#3294d6;
$color-third:#0373e2;
$color-fifth : #ffffffd0;

$color-red:#ff0000;
$color-black: #000000;    
$color-green:#7aff00;
$color-purple: #800080;
$color-grey-light:rgb(231, 231, 231);
$color-yellow: #dfab03;
$color-yellow-2: #ffff00;
