$color-first :white;
$color-second :#3294d6;
$color-third:#0373e2;
$color-fifth : #ffffffd0;

$color-red:red;
$color-black: black;    
$color-green:#7aff00;
$color-purple: purple;
$color-yellow: rgb(223, 171, 3);
$color-yellow-2: rgb(255, 251, 0);
